version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      # newer jinjava versions are incompatible with guava; this is only needed to generate the readme
      - dependency-name: "com.hubspot.jinjava:jinjava"
