# Badge plugin

Jenkins plugin to add badges and build summary entries from a pipeline.

This plugin was forked from the [Groovy Postbuild Plugin](https://plugins.jenkins.io/groovy-postbuild) which will in future use the API from this plugin.

## addBadge

This method allows to add build badge icons.

![alt text](src/doc/badge.png "Badge")

```groovy

// puts a badge with the given icon and text.

{% describe_step  com.jenkinsci.plugins.badge.dsl.AddBadgeStep %}

{% describe_step  com.jenkinsci.plugins.badge.dsl.AddInfoBadgeStep %}

{% describe_step  com.jenkinsci.plugins.badge.dsl.AddWarningBadgeStep %}

{% describe_step  com.jenkinsci.plugins.badge.dsl.AddErrorBadgeStep %}
```

## removeBadges

Removes badges

```groovy

// removes badges. If no id is provided all are removed.
// If an id is provided, remove badges with the matching id.

{% describe_step com.jenkinsci.plugins.badge.dsl.RemoveBadgesStep %}
```

## addHtmlBadge

Puts a badge with custom html

```groovy

// puts a badge with a custom html content.
{% describe_step  com.jenkinsci.plugins.badge.dsl.AddHtmlBadgeStep %}
```
## removeHtmlBadges

Removes html badges

```groovy

// removes html badges. If no id is provided all are removed.
// If an id is provided, remove badges with the matching id.

{% describe_step com.jenkinsci.plugins.badge.dsl.RemoveHtmlBadgesStep
%} ```

## addShortText

Puts a badge with a short text

```groovy

// puts a badge with a short text, using the default format.
// For Colors supported, Google "html color names".

{% describe_step  com.jenkinsci.plugins.badge.dsl.AddShortTextStep %}
```

## createSummary

Puts a badge with a short text

![alt text](src/doc/summary.png "Summary")

```groovy

// creates an entry in the build summary page and returns a summary
// object corresponding to this entry. The icon must be one of the 48x48
// icons offered.

{% describe_step  com.jenkinsci.plugins.badge.dsl.CreateSummaryStep %}

def summary = createSummary(icon)
summary.appendText(text, escapeHtml)
summary.appendText(text, escapeHtml, bold, italic, color)
```

## removeSummaries

Removes summaries

```groovy

// removes summaries. If no id is provided all are removed.
// If an id is provided, remove badges with the matching id.

{% describe_step  com.jenkinsci.plugins.badge.dsl.RemoveSummariesStep %}
```

## Icons

Icons can reference [Jenkins Symbols](https://weekly.ci.jenkins.io/design-library/Symbols/), including [ionicons](View the complete list of all symbols provided by the ionicons-api-plugin on ionic.io/ionicons).

```groovy
addBadge(icon: 'symbol-star')
```

In addition to the default [16x16](https://github.com/jenkinsci/jenkins/tree/master/war/src/main/webapp/images/16x16) icons offered by Jenkins, badge plugin provides the following icons:

{% list_images  src/main/webapp/images %}

### Other plugin icons

Other plugin icons can be used by setting the path of the icon within the jenkins context. Don't forget the leading '/'.

```groovy
addBadge(icon: "/static/8361d0d6/images/16x16/help.png", text: "help")
```

## Colors

Colors may reference [Jenkins palette colors or variables](https://weekly.ci.jenkins.io/design-library/Colors/).

```groovy
# jenkins palette colors
addBadge(icon: 'symbol-star', color: 'yellow')
addBadge(icon: 'symbol-star', color: 'dark-yellow')
addBadge(icon: 'symbol-star', color: 'var(--yellow)')
addBadge(icon: 'symbol-star', color: 'jenkins-!-color-yellow')

# jenkins semantic colors
addBadge(icon: 'symbol-star', color: 'warning')
addBadge(icon: 'symbol-star', color: 'success')

# css colors
addBadge(icon: 'symbol-star', color: '#ffff00')
addBadge(icon: 'symbol-star', color: 'rgb(239, 245, 66)')
```

## Allow HTML in Badge and Summary

The badge plugin uses by default the OWASP Markup Formatter to sanitize the HTML Badge and Summary. This feature can be disabled in the Jenkins configuration:
Manage Jenkins -> Configure System -> Badge Plugin

![alt text](src/doc/config.png "Config")
